{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block title %}Anonymous Gift{% endblock title %}
{% block description %}TP Symfony Anonymous Gift{% endblock description %}
{% block canonical %}{% endblock canonical %}

{% block body %}
<div class="container">
    <h1>Anonymous Gift</h1>

  <a href="{{ path('perso') }}">
    <button type="button" class="btn btn-primary">Log in</button>
  </a>

  <a href="{{ path('fos_user_registration_register') }}">
    <button type="button" class="btn btn-success">Sign In</button>
  </a>
  </div>

{% endblock body %}

{% block javascripts %}
{{ parent() }}

{% endblock %}
