{% extends ':layout:layout.html.twig' %}

{% block container %}

<h2>Event list</h2>

{% for event in events %}
<a href="{{ path('event_show', { 'id': event.id }) }}">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ event.name }}</h3>
  </div>
  <div class="panel-body">
    {{ event.startdate|date }}
  </div>
</div>
</a>
{% endfor %}

<a href="{{ path('event_new') }}">
  <button type="button" class="btn btn-success">Create a new event</button>
</a>

{% endblock container %}
